.DS_Store
*.faa
summary.txt
genomes.fasta
groundtruth.json
profiles/database.*
family_statistics.csv

# Don't ignore .R files
!.R

# But ignore any file with characters after .R e.g. .Rhistory
.R*

.vscode
__pycache__
deps_temp
prospector_output
